<div class="container">
    <form (submit)="updateContacto()" id="contact" color="primary">
        <h3>Crear un nuevo contacto</h3>
        <fieldset>
            <input [(ngModel)]="contacto.fullname" name="fullname" placeholder="Nombre completo" tabindex="1" type="text" required autofocus>
        </fieldset>
        <fieldset>
            <input [(ngModel)]="contacto.mail" name="mail" placeholder="Correo electronico" tabindex="2" type="email" required>
        </fieldset>
        <fieldset>
            <input [(ngModel)]="contacto.phone" name="phone" placeholder="Numero de telefono" tabindex="3" type="tel" required>
        </fieldset>
        <fieldset>
            <input [(ngModel)]="contacto.age" name="age" placeholder="Edad" tabindex="4" type="tel" required>
        </fieldset>
        <fieldset>
            <input [(ngModel)]="contacto.status" name="status" placeholder="status" tabindex="5" type="text" required>
        </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="contact-submit" tabindex="6" data-submit="...Sending">Submit</button>
        </fieldset>
    </form>
</div>